name: "Deploy"
run-name: "Deploy ${{ github.event_name == 'push' && 'Dev' || github.event.inputs.environment == 'prod' && 'Prod' || 'Dev' }}"
on:
  push:
    branches:
      - main
    paths-ignore:
      - "**/*.md"
      - ".env*"
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment to deploy to"
        required: true
        type: choice
        options:
          - dev
          - prod

jobs:
  build:
    name: Build
    runs-on: ubuntu-24.04
    permissions:
      packages: "write"
      contents: "read"
      id-token: "write"
    steps:
      - name: nix-build
        uses: nais/nais-nix-action@main
        id: nix-build
        with:
          team: team-researchops
          identity_provider: projects/898056957967/locations/global/workloadIdentityPools/nav-identity-pool/providers/github-oidc-provider
          project_id: nais-management-233d
          debug: true

      - name: Build spec-dev
        run: nix build .#spec-dev --out-link spec-dev.yaml

      - name: Upload spec-dev.yaml
        uses: actions/upload-artifact@v4
        with:
          name: spec-dev.yaml
          path: spec-dev.yaml

    outputs:
      image: ${{ steps.nix-build.outputs.image }}

#  deploy-dev:
#    name: deploy-dev
#    needs: build
#    if: github.event_name == 'push' || (github.event_name == 'workflow_dispatch' && github.event.inputs.environment == 'dev')
#    runs-on: ubuntu-latest
#    permissions:
#      contents: "read"
#      id-token: "write"
#    steps:
#      - uses: actions/checkout@v4
#      - name: Download spec-dev
#        uses: actions/download-artifact@v4
#        with:
#          name: spec-dev.yaml
#
#      - name: Deploy-dev
#        uses: nais/deploy/actions/deploy@v2
#        env:
#          IMAGE: ${{ needs.build.outputs.image }}
#          CLUSTER: prod-gcp
#          RESOURCE: spec-dev.yaml

  deploy-prod:
    name: deploy-prod
    needs: build
    if: github.event_name == 'workflow_dispatch' && github.event.inputs.environment == 'prod'
    runs-on: ubuntu-latest
    permissions:
      contents: "write"
      id-token: "write"
    steps:
      - uses: actions/checkout@v4
      - name: Download spec
        uses: actions/download-artifact@v4
        with:
          name: spec.yaml

      - name: Deploy-prod
        uses: nais/deploy/actions/deploy@v2
        env:
          IMAGE: ${{ needs.build.outputs.image }}
          CLUSTER: prod-gcp
          RESOURCE: spec.yaml

      - name: Create deployment tag
        if: success()
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          TAG_NAME="prod-$(date -u +'%Y.%m.%d-%H%M%S')"
          git tag -a "$TAG_NAME" -m "Production deployment of ${{ github.sha }}"
          git push origin "$TAG_NAME"
